body {
    margin: 0;
    padding: 0: font-family: 'Roboto Mono', monospace;
    min-height: 400px;
    background-image: url('https://4.bp.blogspot.com/-iSvnKXyRccI/U_91CoaFa1I/AAAAAAAACbk/AnCtdiknGko/s1600/27124231615248.gif');
    background-repeat: no-repeat;
    background-color: #000000;
    background-size: 100%;
    background-position: center button;
    --background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.div-label {
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}

.label-style {
    color: greenyellow;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

.input-style {
    height: 30px;
    width: 150px;
    border: 1px ridge white;
    ;
    background-color: transparent;
    color: white;
    font-size: 20px;
    text-align: right;
}

.button-style {
    border-radius: 20px;
    background: #0066A2;
    color: white;
    border: none;
    border-color: #0066A2;
    height: 37px;
    width: 110px;
    font: bold 20px arial, sans-serif;
    opacity: 90%;
}